<ion-content [fullscreen]="true">

  <body>
    <div class="container" style="background-color: rgb(219, 219, 219);">
      <div class="logo-container">
        <img src="../../assets/LogoAHHD.png" alt="Logo AutoHelp" height="100" width="300">
      </div>
      <form [formGroup]="FormularioInicio">
        <div class="AH">
          <ion-input type="email" class="form-control" formControlName="CorreoElectronico"
            placeholder="Correo Electrónico" required></ion-input>
        </div>
        <div class="AH">
          <ion-input type="{{ mostrarPassword1 ? 'text' : 'password' }}" class="form-control" formControlName="Password"
            placeholder="Contraseña" required></ion-input>
        </div>
        <div class="AH">
          <button style="width: 100%" class="btn btn-info btn-block" (click)="login()">INICIAR SESIÓN</button>
        </div>
      </form>
      <div class="AH">
        <button style="width: 100%" class="btn btn-info btn-block" [routerLink]="['/registro-login']">¡REGISTRARME
          AHORA!</button>
      </div>
      <div class="footer">
        © 2024 Dream Team. Derechos Reservados.
      </div>
    </div>
  </body>
</ion-content>